.round-button {
  display: block;
  background-color: #5bc0de;
  text-decoration: none;
  border-radius: 50%;
  padding: 30%;
  border: none;
}
.round-button:hover {
  background-color: #5bc0de;
}
.round-button:active {
  background-color: #36a9cc;
  transform: scale(0.95);
}
.round-button:focus {
  outline: none;
}

.particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9000;
}
.control-widget {
  z-index: 9000;
}

.map-canvas {
  border-style: solid;
  border-width: 0.1em;
  border-radius: 1%;
  border-color: silver;
}
.pet-canvas {
  border-style: solid;
  border-width: 0.1em;
  border-radius: 1%;
  border-color: silver;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.card {
  color: white;
  border-color: silver;
  background-color: rgba(0, 0, 0, 0.4);
}
.card-header {
  color: white;
  border-color: silver;
  background-color: inherit;
}

.list-group-item {
  color: white;
  border-color: silver;
  background-color: rgba(0, 0, 0, 0.4);
}

.table {
  color: white;
  border-color: inherit;
  background-color: rgba(0, 0, 0, 0.4);
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(lightslategray, black);
}