.round-button {
  display: block;
  background-color: #5bc0de;
  text-decoration: none;
  border-radius: 50%;
  padding: 30%;
  border: none;
}
.round-button:hover {
  background-color: #5bc0de;
}
.round-button:active {
  background-color: #36a9cc;
  transform: scale(0.95);
}
.round-button:focus {
  outline: none;
}